<div class="main">

  <input type="text" class="search" placeholder="Type to search" ng-model="searchName">
  <br>
  <h1 class="__title ta-c">Services</h1>

  <div class="__list">

    <div class="__item" ng-repeat="service in services | filter:searchName" ng-class="{'__item--selected': isSelected[service.id]}" ng-click="selectService(service)">
      <div class="__name">{{ service.name }}</div>
      <div class="__price">${{ service.price }}</div>
      <button class="removeButton" ng-click="removeItem($index)">Remove item</button>
    </div>

  </div>

  <hr>

  <div class="__price">
    <div class="__text">Total:</div>
    <div class="__sum">${{ getPrice() }}</div>
  </div>

  <hr>
  <br>

  <div class="additems">
    Name : <input class="input-field" type="text" ng-model="service.name">
    Price : <input class="input-field" type="text" ng-model="service.price">
    <button class="add-button" ng-click="addItem()">Add</button>
  </div>
</div>
